XTerm.vt100.faceName: Inconsolata:size=15:antialias=true
XTerm.vt100.foreground: gray
XTerm.vt100.background: black
XTerm.vt100.scrollBar: false
XTerm.vt100.cursorColor: *XtDefaultForeground
XTerm.vt100.scaleHeight: 1.05

XTerm.vt100.translations: #override \n\
  Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
  Ctrl <Key> minus:     smaller-vt-font() \n\
  Ctrl <Key> plus:      larger-vt-font() \n\
  Ctrl <Key> 0:         set-vt-font(d)
