[user]
    name = Michal Domonkos
    email = mdomonko@redhat.com
[color]
    ui = true
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[core]
    editor = vim
    # Stow ignores .gitignore files so that's why it's renamed in this repo
    excludesfile = ~/.gitign
[alias]
    ci = commit
    ca = commit --amend
    st = status -sb
    lg = log --oneline --graph
    co = checkout
    br = branch
    pu = push
    a = add
    au = add -u
    ap = add -p
    d = diff
    ds = diff --staged
    stl = stash list
    ctags = !git ls-files | ctags \
        --tag-relative -L - -f"$(git rev-parse --show-toplevel)/tags" \
        --python-kinds=-i
    rc = rebase --continue
    ra = rebase --abort
