[user]
    name = Michal Domonkos
    email = mdomonko@redhat.com
[color]
    ui = true
[core]
    editor = vim
    # Stow ignores .gitignore files so that's why it's renamed in this repo
    excludesfile = ~/.gitign
[alias]
    ci = commit
    st = status -s
    lg = log --oneline --graph
    ah = log @{u}.. --oneline
    co = checkout
    br = branch
    pu = push
    a = add
    au = add -u
    ap = add -p
    d = diff
    ds = diff --staged
    stl = stash list
