<openbox_menu>
<menu id="root-menu">
  <item label="Terminal">
    <action name="Execute" command="bash -lc 'footwrap launch -a Terminal'" />
  </item>
  <separator />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="If">
      <prompt message="Do you really want to exit the compositor?"/>
      <then>
        <action name="Exit"/>
      </then>
    </action>
  </item>
</menu>
</openbox_menu>
