[Desktop Entry]
Name=WeeChat
GenericName=WeeChat
Exec=ptyxis --gapplication-app-id=dmnks.weechat --title WeeChat -- weechat
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
Icon=org.gnome.Polari
Categories=GNOME;GTK;Network;Chat;Slack;
Actions=new-window

[Desktop Action new-window]
Name=New Window
Exec=ptyxis --gapplication-app-id=dmnks.weechat --title WeeChat -- weechat
