[Desktop Entry]
Name=Mutt
GenericName=Email Client
Exec=env EDITOR=vim foot --title Mutt -a mutt -o main.initial-window-size-chars=120x40 mutt
Terminal=false
Type=Application
Keywords=Mail;E-mail;Mutt;
Icon=org.gnome.Geary.svg
Categories=Email;
X-Desktop-File-Install-Version=0.26
