[Desktop Entry]
Name=Mutt
GenericName=Email Client
Exec=foot-run Mutt 120x40 -- env EDITOR=vim mutt
Terminal=false
Type=Application
Keywords=Mail;E-mail;Mutt;
Icon=org.gnome.Geary.svg
Categories=Email;
X-Desktop-File-Install-Version=0.26
