[Desktop Entry]
Name=Pass
GenericName=Password Manager
Exec=foot-run Pass 60x20 -- fpass
Terminal=false
Type=Application
Keywords=password
Icon=org.gnome.seahorse.Application.svg
Categories=Security;
X-Desktop-File-Install-Version=0.26
