[Desktop Entry]
Name=Plan
GenericName=Task Manager
Exec=foot-run Plan 50x30 -- sh -c "cd ~/plan && exec vim *.plan"
Terminal=false
Type=Application
Keywords=Task;Productivity;Todo;
Icon=org.gnome.Todo.svg
Categories=TaskManager;
X-Desktop-File-Install-Version=0.26
