[Desktop Entry]
Name=Plan
Exec=env XCURSOR_THEME=Adwaita foot -c /home/mdomonko/.config/foot/vim.ini --title Plan -o main.initial-window-size-chars=80x40 -a plan vim -c "cd /home/mdomonko/plan | edit daily.plan"
Terminal=false
Type=Application
Keywords=Task;Productivity;Todo;
Icon=org.gnome.Todo.svg
Categories=GNOME;GTK;Utility;
X-Desktop-File-Install-Version=0.26
