[Desktop Entry]
Type=Application
Exec=footwrap launch -c tmux tide
Icon=org.gnome.Terminal
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;
Name=Tmux
GenericName=Tmux
Comment=A terminal multiplexer
