[Desktop Entry]
Name=Vim
GenericName=Text Editor
Exec=foot-vim
Terminal=false
Type=Application
Keywords=Text Editor;
Icon=vim
Categories=TextEditor;
X-Desktop-File-Install-Version=0.26
