[Desktop Entry]
Name=WeeChat
GenericName=IRC Client
Exec=foot-run WeeChat 120x40 -- weechat
Terminal=false
Type=Application
Keywords=irc;internet;
Icon=org.gnome.Polari.svg
Categories=IRCClient;
X-Desktop-File-Install-Version=0.26
