@define-color foreground #ffffff;
@define-color background rgba(0, 0, 0, 0.3);
@define-color highlight rgba(255, 255, 255, 0.2);
@define-color disabled rgba(255, 255, 255, 0.3);

@import url("theme.css");

* {
    font-family: Adwaita Sans;
    font-weight: 600;
    font-size: 16px;
    text-shadow: 1px 1px 4px #444444;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

button {
    border: none;
    border-radius: 5px;
}

*:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button {
    color: @foreground;
}

#workspaces button.active {
    color: @foreground;
    background-color: @highlight;
    transition: none;
}

#workspaces button,
#keyboard-state,
#pulseaudio,
#battery,
#network,
#clock,
#bluetooth,
#custom-casting,
#custom-os,
#custom-theme {
    padding: 0 0.7em;
}

#workspaces button:hover,
#pulseaudio:hover,
#network.default:hover,
#clock:hover,
#custom-casting:hover,
#custom-theme:hover {
    background-color: @highlight;
    margin: 5px 0;
    border-radius: 5px;
    transition: none;
}

#custom-os {
    margin: 0 0.5em;
}

#clock {
    padding: 0 1em;
}

#network.disconnected,
#pulseaudio.muted,
#bluetooth.on,
#custom-casting.disabled {
    color: @disabled;
    text-shadow: none;
}

#custom-os {
    padding: 0 1em;
}
